/Calculator$1.class
/Calculator.class
/CalculatorApp.class
/CalculatorTestDavydov.class
/CalculatorTestKalaev.class
/CalculatorTestKuzmin.class
/CalculatorTestSalimov.class
/CalculatorAppDavydovTest.class
/CalculatorAppTest2.class
/CalculatorAppDavydovTest2.class
